{% block body %}
  
    <form method = "POST" action=" ">
    	{% csrf_token %}
    	
    	<button type = "button" onclick="window.location.href='{% url 'index'%}'" > Cancel</button>

    		<h1>Archive Lists</h1>
    		
    		{% for post in posts %}
	  			
	  			<p>{{post.author}}</p>
	  			<p>{{post.date_updated}}</p>
	  			<p>{{post.title}}</p>
	  			<p>{{post.slug}}</p>
	  			<p>{{post.content}}</p>
	  			<p>{{post.tags}}</p> 
	  			<a href="{% url 'unarchivepost' post.id%} ">Unarchive</a>
	  			<p>---------------------</p>
			
			{% endfor %}

{% endblock %}
