<!DOCTYPE html>
<html lang="en">
<head>
  <title>Post details</title>
 {% block content %}
  <form method="POST">
    {% csrf_token %}
<div class="container">
        <div>
            
        <p>{{post.title}}</p>
        <p>{{post.slug}}</p>
        <p>{{post.author}}</p>
        <p>Date Posted:{{ post.date_created }}</p>
        <p>Date Updated:{{ post.date_updated }}</p>
        
        </div>
        <button type="button" onclick="window.location.href='{% url 'index' %}'" >Close</button>
</div>
{% endblock %}
  </form>
    
</html>