{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<html>
<head>
	<title>Dashboard</title>
</head>
<body>

<header style="   margin:-1% -1% -1% -1%;  background-color: #4caf4f;padding: 30px;text-align: center;font-size: 35px;color: white;"> </header>
<nav style="        overflow:hidden;  margin:1% -1% -1% -1% ;text-align: left; float: left ; width: 24%;height: 100%; background: #f2f2f2; padding: 20px;">



	<form method="post" action="/users/logout/" >{%csrf_token%}
		<input  type="submit" id="logout" name="logout" value='logout' placeholder="logout">
		<p  style="color: orange">Email: {{user.email}}</p>
		<p  style="color: orange">First name: {{user.first_name}}</p>
		<p  style="color: orange">Last Name: {{user.last_name}}</p>
		<p  style="color: orange">Last Login: {{user.last_login}}</p>
	</form>

	{%if user.image.url is not None%}
	<img style="width: 200px;height: 200px " src="{{user.image.url}}"><br>
	{%else%}
	<img style="width: 200px;height: 200px" src=""><br>
	{%endif%}

	<form method="post" action="{% url 'Dashboard' user.id %}"  enctype="multipart/form-data" >{%csrf_token%}
		<input  type="file" name="user_image" >
		<input  type="submit" name="Upload" value="Upload" >
	</form>
</nav>

	<form method="post" action="{% url 'Dashboard' user.id %}" style="float: right;margin-top:1%;margin-right:10%;" enctype="multipart/form-data" >{%csrf_token%}
		<div style="width: 600px">
		<div id ="div1" style=" width: 100%;height: 50px;border: 1px solid #ccc;" contentEditable="true" name="content_title"></div>
		<div id ="div1" style=" width: 100%;height: 500px;border: 1px solid #ccc;" contentEditable="true" name="content_body"></div>
		</div>
		<input type="submit" name="publish_blog" value="publish_blog">
	</form>



<footer style="   margin:50% -1% -1% -1%;  background-color: #777; padding: 30px;text-align: center;font-size: 35px;color: white;"></footer>	
</body>

</html>